body {background:black;font-family:Tahoma,Georgia;}

h1 {font-family:Tahoma,Georgia;background:black;}

h2 {font-size:25px; font-family:Tahoma,Georgia;background:tan;}

.deletedrecipeshighlight {color: #F08080; font-style:italic; font-weight:bold;
                          text-decoration:underline;}

/*center div*/
#wrapper { margin:auto; width:800px; text-align: left; }

#container {background: black; width: 750px; /*margin: 0 auto;*/ text-align: center;
            /*border: solid 2px coral;*/}

#menu {background: silver; color:silver; text-align:center; font-family:Tahoma,Georgia; text-decoration:none;}

#content {background: yellow; padding-left:30px; clear: both; text-align:left; color:black;
          font-family:Tahoma,Georgia;}

#footer {background: silver; text-align:center;font-family:Tahoma,Georgia; color:black;}

#button {text-align:center; padding:20px;}

/*menu list*/
#navlist {list-style: none;/*padding: 0;margin: 0;*/font-family:Tahoma,Georgia;}
    #navlist li {display: inline;padding: 0;margin: 0;}
    #navlist li:before {content: "| ";}
    #navlist li:first-child:before {content: "";}

    /*browser probs*/
    * html #navlist li {border-left:1px solid black;padding:0 0.4em; margin:0 0.4em 0 -0.4em;}
    * html #navlist {height:1%;}
    * html #navlist li {display:block;float:left;}
    * html #navlist li:first-child{border-left:0;}